export(chip2description)
export(collapse.gct.file)
export(collapse.gct)
export(collapse.gct2geneset)
export(convert.apt2gct)
export(convert.gct2submap)
export(convert.gsea.res2gct)
export(gsea.leadingedge.distance)
export(dist.gsea)
export(export.broad.cls)
export(export.broad.res)
export(export.gsea.cdt)
export(export.gsea.gtr)
export(export.gsea.chip)
export(export.gsea.edb)
export(export.gsea.gct)
export(export.gsea.gct.topTable)
export(export.gsea.gmt)
export(export.gsea.leadingedge.analysis)
export(export.gsea.odf.lmFit)
export(export.gsea.odf)
export(export.gsea)
export(export.gsea.rnk)
export(export.gsea.rnk.RankProd)
export(export.gsea.rnk.topTable)
export(export.gsea.rpt)
export(fisherMethod.GSEAlist)
export(genepattern.HeatMapImage)
export(gsea.combine)
export(gsea.compare.runs.filter)
export(gsea.compare.runs.1gmt)
export(gsea.compare.runs.sort)
export(gsea.convert.clm2cls)
export(gsea.filter)
export(subset.gsea)
export(gsea.filter.edb)
export(gsea.fix.output)
export(gsea.fix.output.index.html)
export(gsea.fix.output.detailed.enrichment.results.html)
export(gsea.fix.output.geneset.report)
export(gsea.gct.probes2genes)
export(gsea.gct.select.features.columns)
export(gsea.gct.select.features.rows)
export(gsea.genesets2gct)
export(gsea.hardwire.rpt.paths)
export(gsea.length)
export(gsea.merge.dirs)
export(gsea.merge.edb.dirs)
export(gsea.merge)
export(gsea.merge.edb)
export(gsea.merge.tt)
export(gsea.rename.genesets)
export(gsea.rename.genesets.edb)
export(gsea.reorder.gmt.by.rnk)
export(gsea.split)
export(gsea.summarise)
export(gsea.which.gmt)
export(GSEAhyperGTest)
export(GMThyperGTest)
export(gsealist.find.geneset)
export(gsealist2adjmat)
export(gsea2adjmat)
export(gsealist2genesetlist)
export(import.gsea.chip)
export(import.gsea.clm)
export(import.gsea.compare.runs)
export(import.gsea.edb)
export(import.gsea.gmt)
export(import.gsea.leadingedge)
export(import.gsea)
export(import.gsea.res)
export(import.gsea.rnk)
export(import.gsea.rpt)
export(import.gsea.topTable)
export(is.gsea)
export(is.int)
export(jacquard)
export(list2df)
export(plclust_in_colour)
export(plclust.gsea)
export(plot.hclust.gsea)
export(plot.CAT.GSEA)
export(is.gsea.list)
export(plot.CAT.GSEA.2way)
export(plot.CAT.GSEA.random)
export(plot.CAT.GSEA.2way.vs.random)
export(plot.gsea.leadingedge.adjmat)
export(plot.gsea.leadingedge.barplot)
export(plot.gsea.leadingedge.barplot.auto)
export(plot.gsea.leadingedge.HCL.auto)
export(plot.gsea.leadingedge.HCL)
export(plot.gsea.leadingedge.HCL.simple)
export(plot.gsea.leadingedge.HCL.1clusterPerPage)
export(plot.gsea.leadingedge.heatmap)
export(plot.gsea.leadingedge.heatmap.auto)
export(plot.gsea.leadingedge)
export(plot.gsea.res)
export(plot.gsea.venn)
export(print.gsea.venn)
export(plot.gsea.venn.auto)
export(plot.gseacmp.barplot)
export(reorder.gct)
export(reorder.gct.file)
export(test.broad.ftp)
export(ucounts)
